$main-red: #af1411;
$back-neutral: #e8e8e8;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.4);
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.4);
$table-border: #C8C8C8;
$table-green: #007C29;
