<div class="flex-wrapper">
  <section class="main-content-wrapper">
    <h1 class="tag-line">YOUR DFF RESEARCH STATION</h1>
    <div class="site-features">
      <div class="projections">
        <h2>Projections</h2>
        <span>See projections from the top sites, like Number Fire and Fantasy Pros.</span>
      </div>
      <div class="trends">
        <h2>Trends</h2>
        <span>View performance over time with game logs and moving averages.</span>
      </div>
      <div class="generator">
        <h2>Lineup Generator</h2>
        <span>Pick your players and create lineups on the fly, then export them to Draftkings (Coming Soon).</span>
      </div>
    </div>
  </section>
</div>
