/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,800);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

$main-red: #AF1411;
$back-neutral: #E8E8E8;
$white: #FFF;
$white-transparent: rgba(255, 255, 255, 0.4);
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.4);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $back-neutral;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

a,
a:visited {
  color: $black;
  text-decoration: none;
}

a:hover {
  color: $main-red;
}

li {
  list-style: none;
}

.top-bar {
  background: transparent;
  display: flex;
  height: 10vh;
  position: relative;
  top: 1.5vh;
  width: 100vw;
  z-index: 10;
}

.title {
  align-items: center;
  display: flex;
  font-size: 2.5vmin;
  height: 100%;
  margin-left: 4vmin;

  a {
    font-weight: 800;
    color: $black;

    &:hover {
      font-weight: 800;
      color: $main-red;
    }
  }

  strong {
    font-weight: 800;
    color: $main-red;
  }
}

.nav-bar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: 4vmin;

  a {
    background: $black;
    color: $white;
    font-weight: 700;
    font-size: 1rem;
    padding: 2.125vmin 3.5vmin;

    &:hover {
      background: $main-red;
      border: none;
    }
  }
}

.button {
  background: $black;
  color: $white;

  &:hover {
    background: $main-red;
    cursor: pointer;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}
