.background-wrapper {
  background-image: image-url("bt-main-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  margin: auto;
  width: 100vw;
}

.overlay {
  background: $black-transparent;
  height: 100vh;
  width: 100vw;
}

.hook {

}

.tag-line {
  color: $white;
  font-size: 1.71rem;
  margin: 0;
  text-align: center;
}

/* Phone - Landscape
==================================*/
@media screen and (min-width: 640px) and (orientation: landscape) {

}

/* Tablet - Portrait
==================================*/
@media screen and (min-width: 768px) and (orientation: portrait) {

}

/* Tablet - Landscape / Desktop
==================================*/
@media screen and (min-width: 1024px) {
  
}
