<div class="top-bar">
  <div class="title">
    <h2><a href="/">FF<strong>G</strong>ut<strong>C</strong>heck</a></h2>
  </div>
  <ul class="nav-bar">
    <li><%= link_to "Research", matchups_path %></li>
  </ul>
</div>
